.cuadrado {
  height: 100px;
  width: 100px;
}

#uno {
  background-color: rgb(1, 112, 1);
}

#dos {
  background-color: rgb(138, 2, 2);
}

#tres {
  background-color: rgb(2, 2, 129);
}

#cuatro {
  background-color: rgb(151, 151, 3);
}

#uno.encendido {
  background-color: rgb(4, 252, 4);
}

#dos.encendido {
  background-color: rgb(241, 3, 3);
}

#tres.encendido {
  background-color: rgb(3, 3, 243);
}

#cuatro.encendido {
  background-color: rgb(247, 247, 6);
}
